@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply
        hover:underline
        cursor-pointer
    }
    .input {
        @apply
        flex
        w-full
        mt-5
        hover:shadow-lg
        focus-within:shadow-lg
        max-w-md
        rounded-full
        border
        border-gray-200
        px-5
        py-3
        items-center
        sm:max-w-xl
        lg:max-w-2xl
    }
    .btn {
        @apply
        bg-[#f8f9fa]
        p-2
        rounded-md
        ring-gray-300
        text-sm
        text-gray-800
        cursor-pointer
        hover:ring-1
        focus:outline-none
        active:ring-gray-400
        hover:shadow-md
    }
    .headerIcon {
        @apply
        h-6
        text-gray-500
        cursor-pointer
        transition
        duration-100
        transform
        hover:scale-125
        sm:mr-3
    }
    .headerOptions {
        @apply
        mt-5
        flex
        w-full
        text-gray-700
        justify-evenly
        text-sm
        lg:text-base
        lg:justify-start
        lg:space-x-36
        lg:pl-52
        border-b-[1px]
    }
}
