@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply
        hover:underline
        cursor-pointer
    }
    .input {
        @apply
        flex
        w-full
        mt-5
        hover:shadow-lg
        focus-within:shadow-lg
        max-w-md
        rounded-full
        border
        border-gray-300
        px-4
        py-2
        items-center
        sm:max-w-xl
        lg:max-w-2xl
    }
}
